@model IEnumerable<UIToolTrealet.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách video</h1>

<p class="my-3">
    <a asp-action="Create" asp-route-id="@ViewData["ItemId"]"><button type="button" class="btn btn-primary">Tạo video mới</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align: center">
                STT
            </th>
            <th >
                TIÊU ĐỀ VIDEO
            </th>
            <th class="w-25" style="text-align: center">
                VIDEO MINH HỌA
            </th>
            <th>
                ĐỊA CHỈ IFRAME
            </th>
            <th>
                LOẠI
            </th>

            <th style="text-align: center"> THAO TÁC</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>

                <div class="embed-responsive embed-responsive-16by9" style="height: 140px">
                    <iframe class="embed-responsive-item" src="@item.Url" allowfullscreen></iframe>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.VideoId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.VideoId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.VideoId">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*<div>
    <a asp-area="" asp-controller="Items" asp-action="Index">Trở về</a>
</div>*@
