@model IEnumerable<UIToolTrealet.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách ảnh</h1>

<p class="my-3">
    <a asp-action="Create" asp-route-id="@ViewData["ItemId"]"><button type="button" class="btn btn-primary">Tạo ảnh mới</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align: center">
                STT
            </th>
            <th style="text-align: center">
                HÌNH ẢNH
            </th>
            <th>
                ĐỊA CHỈ ẢNH
            </th>
            <th style="text-align: center">
                THAO TÁC
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    <img src="@item.Url"
                         class="rounded mx-auto d-block" alt="Không có ảnh đại diện!" style="max-height: 140px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>

                <td style="width: 14%">
                    <a asp-action="Edit" asp-route-id="@item.ImageId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.ImageId">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.ImageId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div>
    <a asp-area="" asp-controller="Items" asp-action="Index">Trở về</a>
</div>*@
