@model UIToolTrealet.Models.Interaction

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa câu hỏi</h1>

<h3>Bạn có chắc muốn xóa câu hỏi không?</h3>
<div>
    <h4>Interaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            CÂU HỎI
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            TRẢ LỜI A
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerA)
        </dd>
        <dt class = "col-sm-2">
            TRẢ LỜI B
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerB)
        </dd>
        <dt class = "col-sm-2">
            TRẢ LỜI C
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerC)
        </dd>
        <dt class = "col-sm-2">
            TRẢ LỜI D
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerD)
        </dd>
        <dt class = "col-sm-2">
            ĐÁN ÁN ĐÚNG
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrueAnswer)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InteractionId" />
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ItemId">Trở về</a>
    </form>
</div>
