@model IEnumerable<UIToolTrealet.Models.Interaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["ItemId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrueAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrueAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InteractionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InteractionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InteractionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-area="" asp-controller="Items" asp-action="Index">Back to List</a>
</div>
