@model IEnumerable<UIToolTrealet.Models.Interaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách câu hỏi</h1>

<p class="my-3">
    <a asp-action="Create" asp-route-id="@ViewData["ItemId"]"><button type="button" class="btn btn-primary">Tạo câu hỏi mới</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                CÂU HỎI
            </th>
            <th>
                TRẢ LỜI A
            </th>
            <th>
                TRẢ LỜI B
            </th>
            <th>
                TRẢ LỜI C
            </th>
            <th>
                TRẢ LỜI D
            </th>
            <th>
                ĐÁP ÁN ĐÚNG
            </th>

            <th>
                THAO TÁC 
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(rowNo += 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrueAnswer)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.InteractionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InteractionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InteractionId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*<div>
    <a asp-area="" asp-controller="Items" asp-action="Index">Trở về</a>
</div>*@
