@model UIToolTrealet.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đồ vật</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-2">
            TIÊU ĐỀ
        </dt>
        <dd class="col-sm-10 mb-2">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </dd>
        <dt class="col-sm-2">
            MÔ TẢ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            ĐẠI CHỈ ẢNH ĐẠI DIỆN
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleImage)
        </dd>
        <dt class="col-sm-2">
            ẢNH AVA MINH HỌA
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.TitleImage"
                 class="rounded d-block" alt="Không có ảnh đại diện" style="max-height: 140px;">
        </dd>
        <dt class="col-sm-2">
            DANH SÁCH THÔNG TIN THÊM
        </dt>
        <dd class="col-sm-10">
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Infoes" asp-action="Index" asp-route-id="@Model.ItemId">
                <button type="button" class="btn btn-secondary">Xem danh sách thông tin thêm</button>
            </a>
        </dd>
        <dt class="col-sm-2">
            DANH SÁCH ẢNH
        </dt>
        <dd class="col-sm-10">
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Images" asp-action="Index" asp-route-id="@Model.ItemId">
                <button type="button" class="btn btn-secondary">Xem danh sách ảnh</button>
            </a>

        </dd>
        <dt class="col-sm-2">
            DANH SÁCH VIDEO
        </dt>
        <dd class="col-sm-10">
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Videos" asp-action="Index" asp-route-id="@Model.ItemId">
                <button type="button" class="btn btn-secondary">Xem danh sách video</button>
            </a>
        </dd>
        <dt class="col-sm-2">
            DANH SÁCH CÂU HỎI
        </dt>
        <dd class="col-sm-10">
            <a class="nav-link text-dark p-0" asp-area="" asp-controller="Interactions" asp-action="Index" asp-route-id="@Model.ItemId">
                <button type="button" class="btn btn-secondary">Xem danh sách câu hỏi</button>
            </a>
        </dd>

    </dl>
</div>
<div class="my-5"></div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Sửa</a> |
    <a asp-action="Index" asp-route-id="@Model.PageId">Trở về</a>
</div>
