@model IEnumerable<UIToolTrealet.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<style>
    .desc-item {
        display: inline-block;
        max-height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<h1>Danh sách đồ vật</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Tạo đồ vật</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 15%;">
                TIÊU ĐỀ
            </th>
            <th>
                ẢNH ĐẠI DIỆN
            </th>
            <th class="w-50">
                MÔ TẢ
            </th>

            <th>
                THAO TÁC
            </th>
        </tr>
    </thead>
    <tbody>



    @foreach (var item in Model)
         {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="https://hcloud.trealet.com/albums/Nhom01/app/ngoc-lu.jpg"
                     class="rounded mx-auto d-block" alt="Không có ảnh đại diện" style="max-height: 140px;">
            </td>
            <td>
                <div class="desc-item">
                    @Html.DisplayFor(modelItem => item.Desc)
                </div>

            </td>

            <td>
                <a asp-action="Download" asp-route-id="@item.ItemId">Tải về</a> |
                <a asp-action="Edit" asp-route-id="@item.ItemId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Xóa</a>
            </td>
        </tr>
         }
    

    </tbody>
</table>
